/* Body */
body {
    font-family: "Lato", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilização dos links */
a {
    text-decoration: none;  
    color: #a443d7; 
    transition: color 0.3s, background-color 0.3s, padding 0.2s;  
}

a:hover, a:focus {
    color: #3a1643; 
    background-color: #e0d4f7;  
    padding: 2px 5px; 
    border-radius: 4px;  
    text-shadow: 0 0 5px rgba(136, 45, 158, 0.5);  
}

a:active {
    color: #ffffff;  
    background-color: #bb62eb;  
}

/* Header */
header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Barra de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

#nav-item:hover{
    color:#a443d7;
    background-color: #ffffff;
}

#nav-item:active{
    color:#ffffff;
    background-color: #e0d4f7;
}

/* Ajustando Aside e Main em um Container */
/* Aqui utilizei o display */

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Início Aside */
aside {
    flex: 1;
    position: static;
    width: 20%;
    min-width: 120px;
    padding: 20px;
    background-color: #e9ecef;
    text-align: center;
}

.contacts {
    flex-direction: column;
    margin-top: 30px;
    text-align: left;
    border-radius: 5px;
    padding: 4px 12px;
    background-color: #f4f4f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
    width: 100px;
    height: auto;
}

#icon-contacts{
    width: 16px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

#img-perfil {
    width: 180px;
    margin: 30px 10px 10px 10px;
    border-radius: 50%;
    border: 3px solid #b862e6;
}

/* Início Main */
main {
    flex: 4;
    padding: 30px;
    background-color: #fff;
    text-align: justify;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Seções do Main */

#sobre-mim, #experiencia, #formacao, #habilidades, #linguas {
    padding: 0 20px;
    margin: 20px 0;
}

.experiencia-item, .formacao-item {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #b862e6;
}

/* .experiencia-item:hover, .formacao-item:hover {
    background-color: #eef;
} */

#habilidades ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
}

#habilidades li {
    font-size: 16px; /* Ajuste conforme necessário */
    margin-bottom: 10px;
}

/* Cria bolinhas do nível das habilidades: */

.skill-level {
    display: inline-block; /* As bolinhas ficarão na mesma linha que o texto da habilidade */
}

.skill-level span {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border-radius: 50%; /* Torna as bolinhas circulares */
    display: inline-block;
    background-color: #ccc; /* Cor das bolinhas não preenchidas */
}

.skill-level .filled {
    background-color: #a443d7; /* Cor das bolinhas preenchidas (roxo) */
}

#linguas ul {
    list-style-type: none; 
    padding: 0;
}

#linguas li {
    font-size: 16px; 
    margin-bottom: 10px; 
    position: relative;
    padding-left: 20px; 
}

#linguas li:before {
    content: "-";
    color: #a443d7; 
    font-size: 30px;
    position: absolute; 
    left: 0; 
    top: -10px; 
}

/* Estilização de Cabeçalhos */

h2 {
    font-size: 20px;
    padding-bottom: 10px; 
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px; 
}

h5 {
    font-size: 13.5px;
    margin-bottom: 10px;
}

/* Footer */

footer {
    flex-direction: row;
    background-color: #f4f4f9; 
    color: #333; 
    text-align: right; 
    padding: 20px 0; 
    font-size: 16px; 
    border-top: 1px solid #ccc; 
}

footer address {
    font-style: normal; 
    line-height: 1.6; 
}

/* Ajustar para mobile: está funcionando para a maioria das opções pelo Google Chrome */

@media (max-width: 767px) {
    
    header {
        padding: 10px 0;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        font-size: 9px;
        height: 10px;
    }

    nav ul li {
        margin: 0 5px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    #img-perfil {
        width: 100px;
        height: auto;
    }

    /* decidi deixar o aside expandido na versão mobile, ficou mais bonito */
    aside{
        font-size: 12px;
        width: 100%;
        padding: 10px 0;
    }

    .contacts{
        font-size: 12px;
        flex-direction: column;
        margin: 10%;
    }

    main {
        flex: 3;
        font-size: 12px;
    }

    h2 {
        font-size: 16px;
    }

    #habilidades ul li,#linguas ul li {
        font-size: 14px;
    }

}

/* Ajustar para IPad e Tablet */
@media screen and (min-width: 768px) and (max-width: 1366px){

    header {
        padding: 10px 0;
    }
    .container {
        display: flex;
    }

    aside{
        flex:1;
        font-size: 14px;
        width: 20%;
    }

    #img-perfil {
        width: 120px;
        height: auto;
    }

    .contacts{
        font-size: 12px;
    }

    #icon-contacts{
        width: 10px;
        text-align: center;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    main {
        flex:2;
        font-size: 14px;
        width: 80%;
    }

    h2 {
        font-size: 18px;
    }

    #habilidades ul li,#linguas ul li {
        font-size: 16px;
    }
    
}